body{
    background: #c2c2c2;
}

div{
    background: #fff; 
    width: 50%;
    margin: 50px auto 20px;
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
}
h1{
    color: blue;
    text-transform: uppercase;
    font-size: 26px;
}

table{
    width: 90%;
    margin: 40px auto 20px;
    border: 1px #000 solid;
    border-collapse: collapse;
}
table thead{
    background: #ccc;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
}
table thead th{
    border: 1px solid #000;
}
table tbody tr{
    height: 25px;
    font-size: 14px;
}

table tbody tr td{
    padding: 8px 10px;
    border: 1px solid #000;
}